{% extends 'registration/base.html' %} {% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-centered">
        <h1 class="mt-5 mb-3">Register</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 mt-3">
        <form method="post" action="{% url 'register' %}">
          {% csrf_token %}
          {% for field in form %}
          <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label_tag }}</label>
            <input
              type="{% if 'password' in field.label_tag %}password{% elif 'email' in field.label_tag %}email{% else %}text{% endif %}"
              name="{{ field.html_name }}" class="form-control"
              maxlength="{% if 'username' in field.label_tag %}150{% elif 'first_name' in field.label_tag %}100{% elif 'last_name' in field.label_tag %}100{% endif %}"
              id="{{ field.id_for_label }}" required />
          </div>
          {% if field.errors %}
          {% for error in field.errors %}
          <p style="font-size: 13px">{{ error|escape }}</p>
          {% endfor %}
          {% endif %}
          {% endfor %}
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <button type="submit" class="btn btn-primary mt-2">Register</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}